.site-header {
    background-color: #f8f9fa;
    display: flex;
    text-align: center;
    justify-content: center;
}

.container-full {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.tarjeta {

    border: solid red;

}

.tarjeta img {
    width: 100%;
    height: auto;

}